# Ignore the .env file with sensitive information
.env

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
